//-******************************
extends ../_utility/default
//-******************************


//-******************************
//-head内要素の上書き or 追加
block title
	title 会社情報 | #{lang.title.ja}
//-******************************


//-******************************
//- topicPathの設定
block topicPath
	include ../_utility/inc_topicPath
		li 会社情報
//-******************************


//-******************************
//- .l-contents内要素の作成
block content
	p ここは会社情報ページになります

	//- companyで共通に使用するmixinを読み込む
	mixin mod-test1('共通モジュールを使用')

	p ああああ

//-******************************