//-******************************
//- 全ページで使用

//-グローバル変数の指定
//- - var authenticated = true
//- body(class=authenticated ? 'authed' : 'anon')のように使用

//-mixin
include  mix_module
//-******************************


doctype
html(lang = "ja")
	head
		meta(charset = "utf-8")

		block title
			title #{lang.title.ja}

		block meta
				meta(name='description', content=lang.description.ja)
				meta(name='keywords', content=lang.keywords.ja)

		block stylesheets
			link(rel='stylesheets' src='/common/css/styles.css')

		block headScript

	body
		block header
			include inc_header

		div.l-contents
			block topicPath
			block content
		// /.l-contents END

		block footer
			include inc_footer

		block footScript
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')