doctype
html(lang = "ja")
  head
    meta(charset = "UTF-8")
    block title
      title Jade
    block stylesheets
      script(src = "")



  body
    block content
    block scripts
      script(src = "")


