//- ------------------------------
//- 全ページで使用するグローバル変数の指定
- var authenticated = true
  //- body(class=authenticated ? 'authed' : 'anon')のように使用

//- ------------------------------
doctype
html(lang = "ja")
  head
    meta(charset = "UTF-8")
    block title
      title Jade
    block stylesheets
      script(src = "")

  body
    block content
    block scripts
      script(src = "")


