//-******************************
extends _utility/default
//-******************************


//-******************************
//-head内要素の上書き or 追加
block title
	title ホーム | #{lang.title.ja}

block append stylesheets
	link(rel='stylesheet' href='/common/css/top.css')

block append script
	script(src='/common/js/top.js')
//-******************************


//-******************************
//-header要素の上書き or 追加
block prepend header
	-var isTopPage = true
//-******************************


//-******************************
//- .l-contents内要素の作成
block content

	ul.test
		- for (var i = 0; i < 10; i++){
			li(class='aaa'+i) aa
		- }

	ul.newItems
		- for (var i = 0; i < prod.newItems.length; i++){
			li 最新アイテム -> #{prod.newItems[i]}
		-}

	p aa

	//- エスケープ
	- var text = "<p>Testです</p>"
	div!= text + '<p>あいうあおえ</p>'


//-******************************