//- ------------------------------
extends ./_partial/default

//- ------------------------------

block title
  title #{lang.title.ja}

block content
  #wrapper

    ul.test
      - for (var i = 0; i < 10; i++){
        li(class='aaa'+i) aa
      - }
    // ul.test END

    ul.newItems
      - for (var i = 0; i < prod.newItems.length; i++){
        li 最新アイテム -> #{prod.newItems[i]}
      -}

    //
      複数行
      複数行
    //--
    //- ここからコンテンツ1
    p あいうえお
    p #{newTitle}

    //- ##################################

    p さしすせそ

    - var text = "<p>Testです</p>"

    !{text} あいうあおえ
  // #wrapper END 

  include ./_partial/inc_footer
    p aa
    p aaa

