//-******************************
extends _partial/default
//-******************************


//-******************************
//- head内要素の上書き or 追加
block title
	title 下層 | #{lang.title.ja}

block append stylesheets
	link(rel='stylesheets' src='/common/css/top.css')

block append script
	script(src='/common/js/top.js')
//-******************************


//-******************************
//- topicPathの上書き
block topicPath
	include _partial/inc_topicPath
		li
			a(href='/xxx/')下層その1
		li 下層その2
//-******************************


//-******************************
//- .l-contents内要素の作成
block content

	ul.test
		- for (var i = 0; i < 10; i++){
			li(class='aaa'+i) aa
		- }

	ul.newItems
		- for (var i = 0; i < prod.newItems.length; i++){
			li 最新アイテム -> #{prod.newItems[i]}
		-}


	//- エスケープ
	- var text = "<p>Testです</p>"
	!{text}あいうあおえ


//-******************************


//-******************************
//- footScriptの追加
block append footScript
//-******************************